/*The header element should have a 1px, goldenrod border.*/
#header {
    border: 1px solid goldenrod;
}
/*Convert the ul in the navigation element into a series of horizontal links 
with # as the href value, without bullets, and have some space between them horizontally.*/
nav li{
    display: inline;
    list-style-type: none;
    margin: 10px;
}
/*Any text in an element with class "disabled" should be colored grey, unless it is inside an anchor tag. If inside an anchor, it should be colored purple.*/
.disabled {
    color: grey;
}
.disabled a {
    color: purple;
}
/*Any text inside an element with a class of "active" should be colored yellow.*/
.active {
    color: yellow;
}
/*Section elements should be contained within an article element.*/
/*Make the "I'm red" text colored red.*/
#redElement {
    color: red;
}
/*Make the "I'm blue" text colored blue.*/
#blueElement {
    color: blue;
}
/*The sibling h4 of the red element should have a background color of red.*/
#redElement + h4 {
    background-color: red;
}
/*Any h4 that is a direct child of grandparent should have a 1px border with rounded corners.*/
.grandparent h4 {
    border: 1px solid black;
    border-radius: 25px;
}
/*Elements with a class of promo should have bold text that is also colored gold.*/
.promo {
    font-weight: bold;
    color: gold;
}
/*Without adding any other attributes to the input fields in the footer, write a CSS selector that makes any text input field have a height of 25px.*/
span input {
    height: 25px;
}